{% extends 'base.html' %}
{% block content %}

<h1>Prescription Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Prescription <!-- {{ prescription.name }} --> </span>
            <p>Instructions: {{ prescription.instructions }}</p>
          </div>
          <div class="card-action">
            <a href="{% url 'prescriptions_update' prescription.id %}">Edit</a>
            <a href="{% url 'prescriptions_delete' prescription.id %}">Delete</a>
          </div>
        </div>
    </div>

    <div class="col s6">
        <form action="{% url 'add_dosing' prescription.id %}" method="POST">
            {% csrf_token %}
            {{ dosing_form.as_p }}
            <input type="submit" class="btn" value="Confirm">
        </form>
        <table class="striped">
          <thead>
            <tr><th>Date</th><th>Time</th></tr>
            </thead>
          <tbody>
            {% for dosing in prescription.dosing_set.all %}
              <tr>
                <td>{{dosing.date}}</td>
                <td>{{dosing.time}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    const timeEl = document.getElementById('id_time');
    const timeInstance = M.Timepicker.init(timeEl, {
        defaultTime: 'now',
        twelveHour: false,
        autoClose: true
    });

    timeInstance._updateTimeFromInput();
    timeInstance.done();

</script>

{% endblock %}