{% extends 'base.html' %}
{% block content %}

<h1>Search by brand name</h1>

<nav>
    <div class="nav-wrapper">
      <form action"" method="POST">
          {% csrf_token %}
        <div class="input-field">
          <input name="search" type="search" required>
          <label class="label-icon" for="search"></label>
        </div>
      </form>
    </div>
</nav>
<hr />

<div class="row">
    {% for prop in medication %}
    <div class="card">
        <div class="card-content">
            <p> GENERIC NAME: {{ prop.generic_name}}</p>
            <p> NATIONAL DRUG CODE: {{ prop.product_ndc}} </p>
            <p> DESCRIPTION: {{ prop.packaging.0.description }} </p>
            <p> STRENGTH: {{ prop.active_ingredients.0.strength }} </p>
            <p> ACTIVE INGREDIENT: {{ prop.active_ingredients.0.name }} </p>
            <p> DOSAGE FORM: {{ prop.dosage_form }} </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}