{% extends 'base.html' %}
{% block content %}

  {% if object %}
    <h1>Edit <span class="teal-text"> Prescription {{object.rx_number}}</span></h1>
  {% else %}
    <h1>Add Prescription</h1>
  {% endif %}

    <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" class="btn">
  </form>
<script>
const prescriptionDateEl = document.getElementById("prescription_date");
M.Datepicker.init(prescriptionDateEl, {
  format: "yyyy-mm-dd",
  defaultDate: new Date(),
  setDefaultDate: true,
  autoClose: true,
});
</script>
{% endblock %}