{% extends 'base.html' %}
{% block content %}

  {% if object %}
    <h1>Edit <span class="teal-text"> Prescription {{object.rx_number}}</span></h1>
  {% else %}
    <h1>Add Prescription</h1>
  {% endif %}

  <div class="card">
    <div class="card-content center-align">
      <form action="" method="POST">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <div class="card-action">
          <input type="submit" value="Submit" class="btn">
        </div>
      </form>
    </div>
  </div>

<script>
  const prescriptionDateEl = document.getElementById("id_prescription_issue_date");
  M.Datepicker.init(prescriptionDateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });

  const prescriptionFilledDateEl = document.getElementById("id_prescription_filled_date");
  M.Datepicker.init(prescriptionFilledDateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });
</script>

{% endblock %}