{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PillPal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body id="landing-page-bg">
  <main class="container">
    <h1>PillPal</h1>
    <form action="{% url 'signup' %}" method='POST'>
      {% csrf_token %}
      <button class="btn red darken-4" id="landing-btn" type="submit">Sign up</button>
    </form>

    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <button class="btn red darken-4" id="landing-btn" type="submit">Login</button>
    </form>
  </main>
</body>
</html>