{% extends 'base.html' %}
{% block content %}

<h3>Search by generic name</h3>

<nav>
    <div class="nav-wrapper">
      <form action"" method="POST">
          {% csrf_token %}
        <div class="input-field">
          <input name="search" type="search" placeholder="Search" required>
          <label class="label-icon" for="search"></label>
        </div>
      </form>
    </div>
</nav>
<hr />

{% if medication %}
<div class="row">
    {% for property in medication %}
    <div class="card">
        <div class="card-content">
          <p> <strong> Generic Name: </strong> {{ property.generic_name }} </p>
          <p> <strong> National Drug Code: </strong> {{ property.product_ndc }} </p>
          <p> <strong> Description: </strong> {{ property.packaging.0.description }} </p>
          <p> <strong> Active Ingredient(s): </strong> {% for active_ingredient in property.active_ingredients %}
            <p> {{ active_ingredient.strength }} </p>
            <p> {{ active_ingredient.name }} </p>
            {% endfor %} </p>
        </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}