body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
}

#note-form {
  margin-top: 10px;
}

#prescription-icons {
    display: flex;
    justify-content: space-around;
}

#main-container {
    margin-top: 10vh;
}

#pill-bottle, #search-icon, #ec-icon {
    width: 25%;
    height: 25%;
}